  .formContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #6cc6df;
    padding: 20px;
    /* background-image: url('../../assets/OQRDHB0.jpg'); */
    
  }
  
  
  .formContainer label {
    margin-bottom: 5px;
  }
  
  .formContainer input,
  .formContainer textarea,
  .formContainer select {
    width: 300px;
    padding: 13px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    
  }
  
  .formContainer button[type="submit"] {
    
    background-color: #366680;
    color: #fff;
    border: none;
    padding: 15px 40px;
    margin-left: 700px;
    cursor: pointer;
    border-radius: 5px;
    font-size: larger;
    margin-top: 10px;

  }
  
  .formContainer button[type="submit"]:hover {
    background-color: #4d8fb3;
  }
  
  .formContainer span.error {
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .formContainer .checkboxContainer {
    display: flex;
    flex-direction: column;
  }
  
  .formContainer .checkboxContainer label {
    margin-bottom: 5px;
  }
  
  .formContainer .checkboxContainer input[type="checkbox"] {
    margin-right: 5px;
  }
  .containerTemp{
    background-color: rgb(144, 214, 214);
    display: block;
    flex-direction: row;
    
  }
  
  .formContainer .checkboxContainer .temperament {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  
  .formContainer .checkboxContainer .temperament p {
    margin-right: 5px;
  }
  
  .formContainer .temperament button {
    margin-left: 10px;
    padding: 4px 8px;
    border: none;
    background-color: #f44336;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .itemsform{
    margin-top: 13px;
  }
  