.detailContainer {
    display: flex;
    align-items: center;
    background-size: cover;
    height: 598px;

  }
  
  .imageContainer {
    flex: 1;
    
  }
  
  .imageContainer img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-left: 100px;
    padding: 20px;
  }
  
  .infoContainer {
    flex: 1;
    padding-left: 20px;
    text-align: left;
    background-color: aqua;
    margin: 25px;
    
  }
  
  .infoContainer h2 {
    margin-bottom: 10px;
    size:20px;
    font-family: "Latin Modern Roman";
    font-style: italic;
    color:   #2b2a2a
  }
  .title{
    font-family: "Latin Modern Roman";
    font-style: italic;
    font-size: 45px;
    color:  #2b2a2a;
    text-align: center;
  }