.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    
  }


.inputSearch {
    width: 200px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgb(80, 79, 79);
    
  }
  
  .searchButton {
    background-color: #366680;
    color: #fff;
    border: none;
    padding: 8px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    
  }
  
  .searchButton:hover {
    background-color:  #427e9f;;
  }
  