.container {
    position: absolute;
    top: 107%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.buttonPag {
        background-color: #0a4253df;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
}
svg {
    width: 10px;
}
    

.buttonPag[disabled] {
        background-color: #0a4253df;
        cursor: no-drop;
}

.inputPag {
        height: 30px;
        width: 50px;
        text-align: center;
        border: 1px solid #242424;
        border-radius: 3px;
}
.max{
        color: #2b2a2a;
}
