/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(10, 10, 10);
  }
  


  

.imgLanding {
    width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
    height: 100vh; 
    position: relative;
    right: 12%;   
}

  
.caption{
    font-family: 'Caprasimo', cursive;
    font-size: 52px;
    color: rgba(244, 249, 249, 0.911);
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 25%;
    left: 55%;
    right: 10%;
   
    
}


.getStart{
    position: absolute;
    top: 105%;
    left: 96%;
    transform: translate(-290%, -480%);
    background-image: linear-gradient(to left, #a8f2f5, #12aab0);
    color: #fff;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 220px;
    height: 50px;
    font-family: 'Caprasimo';
    font-size: 28px;
   
}
.text2{
    color:   rgb(243, 238, 238);
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 21px;
    white-space: pre-line;
    width: 415px;
    height: 180px;
    transform: translate(-10%, -265%);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 140%;
    right: 10%;
    
}

