.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: auto;
    background-color: rgba(0, 255, 255, 0.459);
    border-radius: 5px;
    padding: 10px;
}
.navLink{
    
    background-color: #366680;
    color: #fff;
    border: none;
    padding: 8px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;

}
.buttonNav {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    
  }
  
