.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: auto;
    background-color: aqua;
    border-radius: 5px;
    border: 1px solid rgb(108, 62, 6);
    padding: 10px;
}
.navLink{
    background-color: rgb(142, 203, 239);
    border-radius: 5px;
    text-decoration: none;
    color: rgb(108, 62, 6);
    cursor: pointer;
    border: none;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    font-family:"Latin Modern Roman";
    font-style: oblique;
    font-weight: bold;
}
.buttonNav {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
  }
  
